<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Code.it</title>
      <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <!-- Le styles -->
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
      <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="assets/css/font-awesome.min.css">
      <!--[if IE 7]>
      <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
      <![endif]-->
      <link href="assets/css/bootplus.css" rel="stylesheet">
      <script type="text/javascript" src="assets/js/ZeroClipboard.js"></script>
      <link rel="stylesheet" type="text/css" href="assets/css/jquery.pageslide.css" />
      <style type="text/css">
          hr.style-two {
          border: 0;
          height: 1px;
          color: rgb(175, 175, 175);
          background-image: -webkit-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
          background-image:    -moz-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
          background-image:     -ms-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
          background-image:      -o-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
      }

      /* Style for editor*/
        #editor { 
        margin-top: -17px;
        margin-right: 2px;
        margin-left: 2px;
        margin-bottom: 2px;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
     
      /*Sidebar*/
       #sidebar { display: none; }
           
      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        background: url("assets/images/pattern.jpg") repeat scroll center top #dddcdb;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;

      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 60px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }

     </style>
      <link href="assets/css/bootplus-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    

    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="assets/js/jquery.min.js"></script>


  </head>

  <body>


    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
			
            <div class="nav-collapse collapse pull-left" style="margin-top: 5px;margin-left: 0px;">
            <ul class="nav">
              <li></li>
            </ul>
          </div>
          
            <a href="#sidebar" class="brand" style="padding: 16px 0px 12px;"><i class="icon-align-justify icon-3"></i></a>
			<input class="input-xxlarge" style="margin-top: 12px;margin-left: 24px;" type="text" id="docname" placeholder="Untitled"></input>
			<h3 id="docname-txt" style="margin-top: 12px;margin-left: 24px;display: none;" placeholder="Unitiled">Aayush</h3>
            <div class="nav-collapse collapse pull-right">
              <ul class="nav">
				
                <li class="active" href="#shareModal"data-toggle="modal"><a href="#"><i class="icon-share-alt"></i></a></li>
                <li><a href="#saveModal"data-toggle="modal"><i class="icon-cloud-download"></i></a></li>
                <li><a href="#uploadModal"data-toggle="modal"><i class="icon-folder-open"></i></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-code"></i></b></a>
                  <ul class="dropdown-menu">
                    <li><select id="selMode"><option value="abap">ABAP</option><option value="asciidoc">AsciiDoc</option><option value="c9search">C9Search</option><option value="coffee">CoffeeScript</option><option value="coldfusion">ColdFusion</option><option value="csharp">C#</option><option value="css">CSS</option><option value="curly">Curly</option><option value="dart">Dart</option><option value="diff">Diff</option><option value="dot">Dot</option><option value="ftl">FreeMarker</option><option value="glsl">Glsl</option><option value="golang">Go</option><option value="groovy">Groovy</option><option value="haxe">haXe</option><option value="haml">HAML</option><option value="html">HTML</option><option value="c_cpp">C/C++</option><option value="clojure">Clojure</option><option value="jade">Jade</option><option value="java">Java</option><option value="jsp">JSP</option><option value="javascript">JavaScript</option><option value="json">JSON</option><option value="jsx">JSX</option><option value="latex">LaTeX</option><option value="less">LESS</option><option value="lisp">Lisp</option><option value="scheme">Scheme</option><option value="liquid">Liquid</option><option value="livescript">LiveScript</option><option value="logiql">LogiQL</option><option value="lua">Lua</option><option value="luapage">LuaPage</option><option value="lucene">Lucene</option><option value="lsl">LSL</option><option value="makefile">Makefile</option><option value="markdown">Markdown</option><option value="mushcode">TinyMUSH</option><option value="objectivec">Objective-C</option><option value="ocaml">OCaml</option><option value="pascal">Pascal</option><option value="perl">Perl</option><option value="pgsql">pgSQL</option><option value="php">PHP</option><option value="powershell">Powershell</option><option value="python">Python</option><option value="r">R</option><option value="rdoc">RDoc</option><option value="rhtml">RHTML</option><option value="ruby">Ruby</option><option value="scad">OpenSCAD</option><option value="scala">Scala</option><option value="scss">SCSS</option><option value="sass">SASS</option><option value="sh">SH</option><option value="sql">SQL</option><option value="stylus">Stylus</option><option value="svg">SVG</option><option value="tcl">Tcl</option><option value="tex">Tex</option><option value="text">Text</option><option value="textile">Textile</option><option value="tmsnippet">tmSnippet</option><option value="toml">toml</option><option value="typescript">Typescript</option><option value="vbscript">VBScript</option><option value="xml">XML</option><option value="xquery">XQuery</option><option value="yaml">YAML</option></select></li>
                  </ul>
                <li><a href="#"><i class="icon-plus icon-3"></i></a></li>
                <li
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
         <!-- Example row of columns -->
      <div class="row">
        
        <div class="span9" style="margin-left: 0px;margin-right: 20px;">

            <div class="card" style="min-height: 490px;">
               <pre id="editor" style="min-height: 490px;">Loading...</pre>
    
                   
            </div>

       </div>
        <div class="span3" style="margin-right: 0px;">

            <div class="card">
              <div class="row-fluid">
               <h3 class="card-heading simple">Chat <a class="pull-right"><users></users> online</a></h3>
               
              </div>
               <div class="card-body" id ="chat" style="overflow: auto;max-height: 355px;">
               </div>
               <div class="card-actions">
                <div class="row-fluid">
                  <input type="text" id="cname" placeholder="Name">
                  <input type="text" id="cmsg" placeholder="Message">
                  
                </div>
               </div>
            </div>

        </div>
      </div>

      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="row-fluid" align = "center" style="margin-top: 5px;">
        <br />
       made with <i style="color: #dd514c" class="icon-heart"></i> <a>@aayush</a>
      </div>
    </div>
    <!-- Save Modal -->
    <div id="saveModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        
      </div>
      <div class="modal-body">
        <input type="text" id="fname" placeholder="File name">
      </div>
      <div class="modal-footer pull-right">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary" data-dismiss="modal" onclick="saveTextAsFile()">Download</button>
      </div>
    </div>
    <!-- Upload Modal -->
    <div id="uploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        
      </div>
      <div class="modal-body">
        <input type="file" id="fileToLoad">
       </div>
      <div class="modal-footer pull-right">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary" data-dismiss="modal" onclick="loadFileAsText()">Load File</button>
      </div>
    </div>
    <!-- share Modal -->
    <div id="shareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        
      </div>
      <div class="modal-body">
        http://www.code.it/qwesa
       </div>
      <div class="modal-footer pull-right">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary" data-dismiss="modal">Share</button>
      </div>
    </div>

    <
     <div id="sidebar" >
            <div class="row-fluid">
			  <a href="javascript:$.pageslide.close()" class="pull-right" style="color: rgb(175, 175, 175);"><i class="icon-arrow-left"></i></a>
            </div>
            <br />
            <div class="row-fluid">
			<% @cookies.each do |fname|%>
			<%if !fname.blank?%>
              <ul class="inline">
                <li><a href="<%=root_url%><%=fname.split("!!!!")[0]%>" style="color: rgb(175, 175, 175);"><%=fname.split("!!!!")[0]%></a></li>
                <li style="font-size: 10px;"><%=fname.split("!!!!")[1]%></li>
                <li class="pull-right"><a href="#" style="color: rgb(175, 175, 175);"><i class="icon-trash"></i></a></li>
              </ul>
              <hr class="style-two">
			 <%end%>
			 <%end%>
             
            </div>
      </div>
    



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>
     <script src="assets/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
                    <script src="assets/application.js" type="text/javascript" charset="utf-8"></script>
                    <script>
                        var editor = ace.edit("editor");
                        editor.setTheme("ace/theme/ambiance");
                        editor.getSession().setMode("ace/mode/javascript");
                        editor.setFontSize(14);
                        var hint
                        if(!isMobile.any()){
                          editor.focus();
                          hint = "Write or paste code here then share. Anyone you share with will see code as it's typed.";
                        }else{
                          hint = "";
                        }

                    </script>

                    <script type="text/javascript">// Load Firebase
                    var myDataRef = new Firebase('https://code-codr.firebaseIO.com/<%= params[:id]%>');


                    // Get Firebase data
                    myDataRef.on('value', function(snapshot) {
                      // Check if data exists
                      if(!snapshot.val()){
                        // If not, create some children
                        // myDataRef.set({mycode: "", cursorPosition: editor.selection.getCursor(), mode: "html", scrollPosition: 0});
                        editor.setValue(hint);
                        editor.selectAll();
                        $('#selMode').val("html");
                      }else{
                        // Set editor code value
                        editor.setValue(snapshot.val().mycode);
                        // Set cursor position
                        editor.moveCursorToPosition(snapshot.val().cursorPosition);
                        // Set the scroll position
                        editor.session.setScrollTop(snapshot.val().scrollPosition);
                        // Set mode
                        editor.getSession().setMode("ace/mode/"+snapshot.val().mode);
						//displaying doc name if it exists
						if(snapshot.val().docname){
							document.getElementById('docname').style.display = 'none';document.getElementById('docname-txt').style.display = 'inline';document.getElementById("docname-txt").innerHTML = snapshot.val().docname;
						}
                        //Command
                        editor.commands.addCommand({
                        name: 'myCommand',
                        bindKey: {win: 'Ctrl-M',  mac: 'Command-M'},
                        exec: function(editor) {
                            alert(editor.getValue());
                        },
                        readOnly: true // false if this command should not apply in readOnly mode
                            });
                        // Change the mode dropdown value
                        $('#selMode').val(snapshot.val().mode);
                        // Clear selection so editor doesn't select all
                        editor.clearSelection();
                      }
                    });
                    $(document).ready(function() {

                      // Switch the syntax mode
                      $('#selMode').change(function(){
                        editor.getSession().setMode("ace/mode/"+$(this).val());
                        myDataRef.child('mode').set($(this).val());
                      });
                      // Track code and mouse position changes when user enters data
                      $('#editor').keyup(function() {
                      
                        // Check if selection, if not update
                        if(editor.session.getTextRange(editor.getSelectionRange()) == ""){
                          myDataRef.set({mycode: editor.getValue(), cursorPosition: editor.selection.getCursor(), mode:$('#selMode').val(), scrollPosition:editor.session.getScrollTop()});      
                        }

                        
                      });
                      

                      
                    });

                    </script>
                    <script type='text/javascript'>

                        function saveTextAsFile()
                        {
                          var textToWrite = editor.getValue();
                          var textFileAsBlob = new Blob([textToWrite], {type:'text/plain'});
                          var fileNameToSaveAs = document.getElementById("fname").value;

                          var downloadLink = document.createElement("a");
                          downloadLink.download = fileNameToSaveAs;
                          downloadLink.innerHTML = "Download File";
                          if (window.webkitURL != null)
                          {
                            // Chrome allows the link to be clicked
                            // without actually adding it to the DOM.
                            downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
                          }
                          else
                          {
                            // Firefox requires the link to be added to the DOM
                            // before it can be clicked.
                            downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
                            downloadLink.onclick = destroyClickedElement;
                            downloadLink.style.display = "none";
                            document.body.appendChild(downloadLink);
                          }

                          downloadLink.click();
                        }

                        function destroyClickedElement(event)
                        {
                          document.body.removeChild(event.target);
                        }

                        function loadFileAsText()
                        {
                          var fileToLoad = document.getElementById("fileToLoad").files[0];

                          var fileReader = new FileReader();
                          fileReader.onload = function(fileLoadedEvent) 
                          {
                            var textFromFileLoaded = fileLoadedEvent.target.result;
                           editor.setValue(textFromFileLoaded);
                          };
                          fileReader.readAsText(fileToLoad, "UTF-8");
                        }

                    </script>
                    <script>

                    // Get a reference to the root of the chat data.
                    var messagesRef = new Firebase('https://chat-codr.firebaseIO.com/<%= params[:id]%>');
					var myDataRef = new Firebase('https://code-codr.firebaseIO.com/<%= params[:id]%>');
                    // When the user presses enter on the message input, write the message to firebase.
                    $('#cmsg').keypress(function (e) {
                      if (e.keyCode == 13) {
                        var name = $('#cname').val();
                        var text = $('#cmsg').val();
                        if(!name){$('#cname').val('Please enter a name');}
                        if(!text){$('#cmsg').val('Please enter something');}
                        if(text && name){messagesRef.push({cname:name, ctext:text});document.getElementById('cname').style.display = 'none';}
                        $('#cmsg').val('');
                      }
                    });
					// When the user presses enter on the message input, write the message to firebase.
                    $('#docname').keypress(function (e) {
                      if (e.keyCode == 13) {
                        var docname = $('#docname').val();
                        if(!docname){$('#docname').val('Please enter a name');}
                       if(docname){document.getElementById('docname').style.display = 'none';document.getElementById('docname-txt').style.display = 'inline';document.getElementById("docname-txt").innerHTML = docname; myDataRef.set({mycode: editor.getValue(), docname: docname,cursorPosition: editor.selection.getCursor(), mode:$('#selMode').val(), scrollPosition:editor.session.getScrollTop()});}
                        $('#cmsg').val('');
                      }
                    });

                    // Add a callback that is triggered for each chat message.
                    messagesRef.limit(10).on('child_added', function (snapshot) {
                      var message = snapshot.val();
                      $('<p/>').text(message.ctext).prepend($('<strong/>')
                        .text(message.cname+': ')).appendTo($('#chat'));
                      $('#chat')[0].scrollTop = $('#chat')[0].scrollHeight;
                    });
                  </script>
                  <script src="assets/js/lib/jquery-1.7.1.min.js"></script>
                  <script src="assets/js/jquery.pageslide.min.js"></script>
                  <script>
                      /* Default pageslide, moves to the right */
                      $(".brand").pageslide();
                      
                      /* Slide to the left, and make it model (you'll have to call $.pageslide.close() to close) */
                      $(".brand1").pageslide({ direction: "right", modal: true });
                  </script>
                  
                  <script type="text/javascript">
                    var listRef = new Firebase("https://presence-codr.firebaseio.com/<%= params[:id]%>");
                    var userRef = listRef.push();

                    // Add ourselves to presence list when online.
                    var presenceRef = new Firebase("https://presence-codr.firebaseio.com/.info/connected");
                    presenceRef.on("value", function(snap) {
                      if (snap.val()) {
                        userRef.set(true);
                        // Remove ourselves when we disconnect.
                        userRef.onDisconnect().remove();
                      }
                    });

                    // Number of online users is the number of objects in the presence list.
                    listRef.on("value", function(snap) {
                      $("users").html(snap.numChildren());
                    });    
                  </script>


  </body>
</html>
